.wrapper {
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.header {
  margin: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-title {
  width: 607px;
  margin: 12px 0px;
  color:#121212;
  font-family: JosefinSans-Bold;
  font-size: 86px;
  letter-spacing: 0.01em;
  display: flex;
}
.header-title-item2 {
  padding: 0px 16px;
  margin: 0px 16px;
  background: linear-gradient(180deg, rgba(237, 96, 65, 0) 85.76%, #ED6041 85.82%);
}
.header-text {
  font-family: JosefinSans-Regular;
  font-size: 18px;
  line-height: 28px;
  color: #414141;
  width: 652px;
  text-align: center;
}
.content {
  padding: 0px 70px;
}
.row {
  display: flex;
  margin: 0px 0px 40px 0px;
}
.row:last-child {
  margin: 0px 0px 0px 0px;
}
.row-item {
  display: flex;
  margin: 0px 16px 0px 0px;
}
.item-img img{
  width: 208px;
  height: 208px;
}
.item-description {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 24px;
}
.item-title {
  font-family: JosefinSans-Bold;
  font-size: 35px;
  line-height: 40px;
  color:#121212;
}
.item-text {
  font-family: JosefinSans-Regular;
  line-height: 24px;
  color: #414141;
  width: 388px;
  margin: 12px 0px 0px 0px;
}
.item-btn {
  margin: 16px 0px 0px 0px;
  background: #EC6041;
  box-shadow:  4px 4px 0px 0px #F1876F, 8px 8px 0px 0px #F5AE9E;
  text-decoration: none;
  color: #FFFFFF;
  width: 144px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: JosefinSans-Regular;
  font-weight: bold;
}

.black {
  background: #000;
}
.text-white {
  color: #FFFFFF;
}

@font-face {
  font-family: JosefinSans-Regular; /* Имя шрифта */
  src: url(../fonts/JosefinSans-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
   font-family: JosefinSans-Bold; /* Имя шрифта */
   src: url(../fonts/JosefinSans-Bold.ttf); /* Путь к файлу со шрифтом */
}